body {
    background-color: black; /*cor do fundo*/
    color: white; /*se o fundo é escuro, as letras devem ser mais claras/visíveis*/
    text-align: center; /*alinhar texto*/
    align-content: center; /*alinhar conteúdo*/
}
h1 {
    font-size: 4rem; /*px bloqueia o tamanho da fonte, rem mantém a página responsiva e acessível*/
    line-height: 1.2; /*altura de linha*/
    font-family: "Beth Ellen";
}
h1 span {
    color: #ff5563; /*cor de "food"*/
}
p {
    font-size: 1.25rem;
    margin-bottom: 4.5rem;
}
a {
     color: white;
     background-color: #ff5563;
     text-decoration: none; /*para tirar a decoração automática da tag "a" (sublinhado)*/
     padding: 1rem 2rem; /*alterar o tamanho da caixa*/
     font-size: 1.5rem;
     border-radius: .5rem; /*curva das quinas*/
     transition: background-color 300ms; /*como a cor do fundo vai mudar (a:hover), vamos mudar fazendo uma transição, ao invés de mudar direto*/
}
a:hover { /*"hover" = instruções para quando passar o cursor por cima*/
    background-color: #e93a48; /*mudar a cor de fundo*/
}
#bg-image {
    background-image: url("https://images.pexels.com/photos/2098134/pexels-photo-2098134.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center; /*deixar imagem no centro*/
    background-size: contain; /*imagem fica contida na página, de modo que, se o tamanho aumentar, a imagem também aumenta*/
    background-repeat: no-repeat; /*para a imagem não ficar repetindo no fundo*/
    opacity: 0.3;
    position: absolute;
    inset: 0;  /*bloqueia a imagem em uma camada*/
    z-index: -1; /*altera a camada em que a imagem se localiza*/
}
@media (width < 40rem){ /*se a largura do dispositivo for menor que 40rem*/
    html {
        font-size: 70%; /*altere o font-size de todo o html para 70%*/
    }
}
@keyframes apper { /*animações da página*/
    0% {
        opacity: 0;
    }
}
h1, p, a {
    animation: apper 1s backwards;
}
h1 {
    animation-delay: 0.2s;
}
p {
    animation-delay: 0.8s;
}
a {
    animation-delay: 1.6s;
}